
  apiVersion: cert-manager.io/v1alpha3
  kind: Certificate
  metadata:
    name: rakesh.apps.{{ var_az_dns_zone }}
  spec:
    acme:
      config:
      - dns01:
          provider: dns
        domains:
        - 'rakesh.apps.{{ var_az_dns_zone }}'
    commonName: 'rakesh.apps.{{ var_az_dns_zone }}'
    dnsNames:
     - 'rakesh.apps.{{ var_az_dns_zone }}'
    issuerRef:
      kind: ClusterIssuer
      name: {{ var_az_dns_zone }}
    secretName: {{ quay_project_name }}
    duration: 8400h 
    renewBefore: 360h 
